# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
bin/
VS19/SpaceEmulator/x64
VS19/SpaceEmulator/x86

*.user

VS19/SpaceEmulator/SpaceEmulator/x64/Debug/qmake/

VS19/SpaceEmulator/SpaceEmulator/x64/Release/qmake/
